In [1]:
import pandas as pd
import os as os
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)

os.getcwd()

'/home/nbuser/library'

In [2]:
left_frame = pd.DataFrame({'key': range(5), 
                           'left_value': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2, 7), 
                           'right_value': ['f', 'g', 'h', 'i', 'j']})
print left_frame
print '\n'
print right_frame

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e


   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

In [3]:
### Inner Join
print pd.merge(left_frame, right_frame, on='key', how='inner')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [4]:
### Left Outer Join
print pd.merge(left_frame, right_frame, on='key', how='left')

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h

In [5]:
### Right Outer Join
print pd.merge(left_frame, right_frame, on='key', how='right')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h
3    5        NaN           i
4    6        NaN           j

In [6]:
### Full Outer Join

print pd.merge(left_frame, right_frame, on='key', how='outer')

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h
5    5        NaN           i
6    6        NaN           j

In [7]:
### Concatenation
pd.concat([left_frame, right_frame], axis=1)

   key left_value  key right_value
0    0          a    2           f
1    1          b    3           g
2    2          c    4           h
3    3          d    5           i
4    4          e    6           j