DataFrames in pandas
========================
<a href="PyDataWorkshop.github.io">Main Page</a> | <a href="index.html">pandas</a>

In [1]:
# preliminaries
  # This is some boilerplate code. Some of it may not be necessary for this workbook.
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

- Let's set up two simple series.

In [2]:
s1 = pd.Series([10,11,12,13], name="series one")
print(s1)
s2 = pd.Series([30,31,32,33], name="series two")
print(s2)

0    10
1    11
2    12
3    13
Name: series one, dtype: int64
0    30
1    31
2    32
3    33
Name: series two, dtype: int64

 - One approach to constructing a pandas dataframe is to concatenate a set of series.

In [4]:
#first approach: concatenation of series
df1 = pd.concat([s1,s2], axis=1)
df1

   series one  series two
0          10          30
1          11          31
2          12          32
3          13          33

In [6]:
# Another approach, giving new names
# Question to explain better : What exactly is a dict?
df1 = pd.DataFrame(dict(s1=s1,s2=s2))
df1

   s1  s2
0  10  30
1  11  31
2  12  32
3  13  33

In [9]:
df1.s1

0    10
1    11
2    12
3    13
Name: s1, dtype: int64

In [10]:
type(df1.s1)

pandas.core.series.Series

In [11]:
df1.index.name="period"
df1

        s1  s2
period
0       10  30
1       11  31
2       12  32
3       13  33

Creating a DataFrame
==================================

 - To create a DataFrame out of common Python data structures, we can pass a ***dictionary*** of lists to the *DataFrame constructor*.

 - Using the columns parameter allows us to tell the constructor how we'd like the columns ordered. 
 - By default, the DataFrame constructor will order the columns alphabetically.
 - *( However this is not the case when reading from a file )*.

In [14]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bohemians', 'Bohemians', 'Bohemians', 'Saints', 'Saints', 'Rovers', 'Rovers', 'Rovers'],
        'wins': [11, 8, 10, 11, 11, 6, 10, 4],
        'losses': [5, 9, 6, 1, 5, 10, 8, 12]}
        
soccer = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])

print(soccer)

   year       team  wins  losses
0  2010  Bohemians    11       5
1  2011  Bohemians     8       9
2  2012  Bohemians    10       6
3  2011     Saints    11       1
4  2012     Saints    11       5
5  2010     Rovers     6      10
6  2011     Rovers    10       8
7  2012     Rovers     4      12