## Statistics

Pandas provides nifty methods to understand your data set. 
Here we will look at the ``describe``, ``correlation``, ``covariance``, and ``correlation`` methods to quickly 
make sense of the data.

### Preparation
We will load up pandas, and import the iris data set. We will only use the firt four columns of iris

In [1]:
import pandas as pd

iris = pd.read_csv("https://raw.githubusercontent.com/PyDataWorkshop/datasets/master/iris.csv")
    

cheeses = pd.read_csv("https://raw.githubusercontent.com/PyDataWorkshop/datasets/master/Cheeses.csv")

### describe

The describe method provides quick stats on all suitable columns.

In [21]:
iris.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [22]:
iris.describe()

       Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

In [23]:
covariance

The cov method provides the covariance between suitable columns.

SyntaxError: invalid syntax (<ipython-input-23-ad6e23e8d38e>, line 3)

In [24]:
iris.cov()

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width
Unnamed: 0,1887.500000,25.782886,-7.618121,67.692953,29.805034
Sepal.Length,25.782886,0.685694,-0.042434,1.274315,0.516271
Sepal.Width,-7.618121,-0.042434,0.189979,-0.329656,-0.121639
Petal.Length,67.692953,1.274315,-0.329656,3.116278,1.295609
Petal.Width,29.805034,0.516271,-0.121639,1.295609,0.581006

In [25]:
correlation

The corr method provides the correlation between suitable columns.

SyntaxError: invalid syntax (<ipython-input-25-96806b3d6059>, line 3)

In [26]:
iris.corr()

              Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Unnamed: 0      1.000000      0.716676    -0.402301      0.882637     0.900027
Sepal.Length    0.716676      1.000000    -0.117570      0.871754     0.817941
Sepal.Width    -0.402301     -0.117570     1.000000     -0.428440    -0.366126
Petal.Length    0.882637      0.871754    -0.428440      1.000000     0.962865
Petal.Width     0.900027      0.817941    -0.366126      0.962865     1.000000

### Descriptive statistics

To illustrate basic functions we will use some pseudo-random numbers from a Gaussian or Normal distribution. 

The function scipy.randn can be used to generate random numbers from a standard Gaussian. This function is the same as the numpy.random.randn function.

In [27]:
import scipy as sp

In [28]:
s = sp.randn(100) # Hundred random numbers from a standard Gaussian
print(len(s))

100

Since the value returned is a Numpy array we can use its methods to find descriptive statistics for the data.

In [29]:
print("Mean : {0:8.6f}".format(s.mean()))

Mean : 0.050604

In [30]:
print("Minimum : {0:8.6f}".format(s.min()))

Minimum : -2.242196

In [31]:
print("Maximum : {0:8.6f}".format(s.max()))

Maximum : 2.472790

In [16]:
print("Variance : {0:8.6f}".format(s.var()))

Variance : 0.840031

In [17]:

print("Std. deviation : {0:8.6f}".format(s.std()))

Std. deviation : 0.916532

In [33]:
iris["Sepal.Length"].mean()

5.843333333333335