Working with pandas Series
==============================

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)

In [2]:
# create a Series with an arbitrary list
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

In [3]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'],
index=['A', 'Z', 'C', 'Y', 'E'])
s

A                7
Z       Heisenberg
C             3.14
Y      -1789710578
E    Happy Eating!
dtype: object

In [4]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

cities['Chicago']
cities[['Chicago', 'Portland', 'San Francisco']]

Chicago          1000.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [5]:
# Boolean Selection
cities[cities < 1000]

Austin      450.0
Portland    900.0
dtype: float64

In [6]:
less_than_1000 = cities < 1000
print less_than_1000
print '\n'
print cities[less_than_1000]

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-6-b3ab336a4696>, line 2)

In [ ]:
# changing based on the index
print 'Old value:', cities['Chicago']
cities['Chicago'] = 1400
print 'New value:', cities['Chicago']

In [ ]:
# changing values using boolean logic
print cities[cities < 1000]
print '\n'
cities[cities < 1000] = 750

print cities[cities < 1000]

print 'Seattle' in cities
print 'San Francisco' in cities

# divide city values by 3
cities / 3

In [ ]:
# square city values
np.square(cities)

print cities[['Chicago', 'New York', 'Portland']]
print'\n'
print cities[['Austin', 'New York']]
print'\n'
print cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']]

In [ ]:
# returns a boolean series indicating which values aren't NULL
cities.notnull()

# use boolean logic to grab the NULL cities
print cities.isnull()
print '\n'
print cities[cities.isnull()]